body {
  background-color: lightgreen;
}

h1 {
  color: red;
  text-align: center;
}

p{
  font-family: verdana;
  front-size: 20px; 
}

ul{
  font-family: verdana;
  front-size: 60px; 
  text-align: center;
}
